#table1 {
    border: 1px #000000 solid;
    position: absolute;
    left: 500px;
    border-collapse: collapse;
}
#table1 td:first-child {
    width: 150px;
    text-align: right;
}
#table1 td:nth-child(2){
    width: 100px;
    text-align: right;
}
#table1 td:nth-child(3){
    width: 100px;
    text-align: right;
}
#table1 tr, td{
    border: 1px #000000 solid;
}