html, body {
    min-height: 1200px; /* Достаточно места для всех таблиц */
}
#table1 {
     border-style: double;
     border: 1px #000000 solid;
     position: absolute;
     left: 280px;
     top: 230px;
 }
#table2 {
    border-style: double;
    border: 1px #000000 solid;
    top: 355px;
    left: 10px;
    position: absolute;
}
#tabel3 {
    border-style: double;
    border: 1px #000000 solid;
    top: 410px;
    left: 10px;
    position: absolute;
}
#tabel4 {
    border-style: double;
    border: 3px #000000 solid;
    top: 462px;
    left: 10px;
    position: absolute;
}
#table1 tr td{
    width: 200px;
    text-align: center;
}
#table1 td:first-child {
    width: 200px;
    text-align: left;
}
#table1 td:nth-child(2){
    width: 100px;
    text-align: right;
}
#table1 td:nth-child(3){
    width: 100px;
    text-align: right;
}
#table1 tr, td{
    border: 1px #000000 solid;
}
.listf{
    position: absolute;
    top: 550px;
    left: 10px;
}
ul{
    list-style-type: disc;
}
.AAlist {
    position: absolute;
    top: 700px;
    left: 10px;
}
.H41 {
    position: absolute;
    top: 790px;
    left: 10px;
}
.alist {
    position: absolute;
    top: 825px;
    left: 10px;
}
.H42{
    position: absolute;
    top: 905px;
    left: 10px;
}
.IIlist{
    position: absolute;
    top: 940px;
    left: 10px;
}
.H43{
    position: absolute;
    top: 1015px;
    left: 10px;
}
.iiilist{
    position: absolute;
    top: 1050px;
    left: 10px;
}
table tr:first-child {
    text-align: center;
}
